fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
pyarrow==17.0.0
python-dateutil==2.9.0.post0
joblib==1.4.2
python-multipart==0.0.9
polars==1.8.2
tqdm==4.66.5
